   .container {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    padding: 20px;
  }
  
  .sidebar-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .sidebar-link {
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
  }
  
  .sidebar-link:hover {
    background-color: #e0e0e0;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .job-container {
    display: flex;
    flex-direction: column; 
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
  }
  
  .job-box {
    width: 100%; 
    margin-bottom: 20px;
    padding: 30px;
  }
  
  .job-box:not(:last-child) {
    border-bottom: 1px solid #ccc; 
  }

  h2{
    text-align: center;
  }
  
  button{
    background-color: white;
    border: none;
  }

  button:hover{
    cursor: pointer;
  }

  .checkbox-container {
    display: flex;
    flex-direction: column; 
  }
  
  .checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
  }
  
  .checkbox-item input[type="checkbox"] {
    margin-right: 5px; 
  }

  .sidebar-divider {
    border-top: 1px solid #ccc;
    margin: 1px 0;
  }
  