<body>
    <section class="container">
      <div class="card">
        <header>Update Password</header>
        <form class="form-group">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" id="email" [formControl]="emailFormControl" placeholder="Enter your email" required />
            <div *ngIf="emailFormControl.hasError('required') && emailFormControl.touched" class="text-danger">
              Email required
            </div>
            <div *ngIf="emailFormControl.hasError('email') && emailFormControl.touched" class="text-danger">
              Enter valid email
            </div>
          </div>
  
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" [(ngModel)]="password" id="password" placeholder="Enter your password" required />
          </div>
  
          <button type="button" class="btn-login" (click)="update()">Update Password</button>
        </form>
      </div>
    </section>
  </body>
  